*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus
{ outline: none; }



header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  padding: 0 5%;
  background-color: black;
}

h1
{
  font-size: 50px;
  color: red;
  font-family: 'Bebas Neue', sans-serif;
  cursor: pointer;
}

.fas.fa-arrow-circle-left
{
  font-size: 25px;
}

.fas.fa-arrow-circle-left:hover
{
  background-color: white;
  border-radius: 60%;
}

#app
{
  width: 100%;
  height: 100vh;
}

.research input
{
  width: 200px;
  height: 30px;
  padding: 0 10px;
  margin-right: 5px;
  border: 3px groove white;
  border-radius: 10px;
  font-weight: bolder;
  background-color: black;
  color: white;
  transition: all 800ms;
}

.research input:hover
{
  box-shadow: 0px 5px 30px 2px rgba(255, 0, 0, 0.7);
  transition: all 800ms;
  transition-timing-function: ease-in-out;
}

::placeholder
{
  color: red;

}

.research button
{
  border: none;
  background-color:black;
  color: red;
  font-size: 20px;
 }


.research button:hover
{
  color: white;
}

main
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  background-color: black;
}

.welcome
{
  position: relative;
  width: 90%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: url(https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
}

.welcome p
{
  color: red;
}

.welcome a
{
  color: red;
  cursor: pointer;
}

.welcome h2
{
  font-size: 50px;
  padding: 10px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.overlay
{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 1s;
}

.library
{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  padding: 50px;
  background-color: #141922;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;
}


.movie-card
{
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 220px;
  height: 342px;
  border-radius: 1px;
  margin: 20px 15px 50px 15px;
  transition: all 500ms ease-in-out;
  z-index: 1;
}
.review-movie h3
{
  text-align: center;
}

.movie-card img
{
  object-fit: cover;
  border-radius: 1px;
}


.movie-card:hover
{
  transform:translateY(-30px);
  cursor: pointer;
  box-shadow: 0px 12px 30px 0px rgba(255, 255, 255, 0.5);
  transition: all 800ms;
  transition-timing-function: ease-in-out;
}

.review-movie:hover
{
  opacity: 0.9;
  transition: all 800ms;
}

.lingua
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-movie
{
  position: absolute;
  top: 0;
  top: 0;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color:#141922;
  width: 220px;
  height: 342px;
  padding: 15px;
  border-radius: 1px;
  color: white;
  opacity: 0;
}

.review-movie h4
{
  margin: 15px 0;
}
.review-movie p {
  margin: 5px 0;
}

.flag-language
{
  width: 30px;
  margin: 0 3px;
}

.margin-emptyStar
{
  margin-left: -3px;
}

.margin-emptyStar i
{
  margin-right: 3px;
}


.fas.fa-star
{
  color: yellow;
}

.far.fa-star:hover
{
  color: yellow
  ;
}



.overview-scroll
{
  overflow-y: scroll;
}

.not-found
{
  width: 220px;
  height: 342px;
  filter: invert();
}

footer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 10px 5%;
}

footer div
{
  height: 100%;
  font-size: 20px;
  color: white;
}

.git
{
  text-decoration: none;
  color: red;
}

.git:hover
{
  color: white;
  cursor: pointer;
}



.fortu
{
  color: red;
}
