* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus { outline: none; }



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  padding: 0 5%;
  background-color: black;
}

h1 {
  font-size: 50px;
  color: red;
  font-family: 'Bebas Neue', sans-serif;
  cursor: pointer;
}

.fas.fa-arrow-circle-left {
  font-size: 25px;
}

#app {
  width: 100%;
  height: 100vh;
}

.research input  {
  width: 200px;
  height: 30px;
  padding: 0 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
}

.research button {
  border: none;
  background-color: black;
  color: red;
  font-size: 20px;
}

.research button:hover {
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  background-color: black;
}

.welcome {
  position: relative;
  width: 90%;
  height: 100%;
  background-image: url(https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome p {
  color: red;
}

.welcome a {
  color: red;
  cursor: pointer;
}

.welcome h2 {
  font-size: 50px;
  padding: 10px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.library {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  padding: 50px;
  background-color: #141922;
  overflow-y: scroll;
}


.movie-card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 220px;
  height: 342px;
  border-radius: 10px;
  margin: 20px 50px 50px 50px;
}
.review-movie h3{
  text-align: center;
}

.movie-card img {
  object-fit: cover;
  border-radius: 10px;
  transition: 1s;
  z-index: 1;
}


.movie-card:hover .review-movie {
  transition: 0.7s;
  opacity: 1;
  z-index: 4;
}

.movie-card:hover img {
  opacity: 0;
}

.review-movie {
  position: absolute;
  top: 0;
  top: 0;
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: #2D2F36;
  width: 220px;
  height: 342px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  opacity: 0;
  z-index: 0;
}

.review-movie h4 {
  margin: 10px 0;
}

.margin-emptyStar {
  margin-left: -3px;
}

.margin-emptyStar i {
  margin-right: 3px;
}


.fas.fa-star {
  color: yellow;
}




.overview-scroll {
  overflow-y: scroll;
}

.not-found {
  width: 220px;
  height: 342px;
  filter: invert();
}

footer {
  height: 5%;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 10px 5%;
}

.fortu {
  color: red;
}
